@media only screen and (max-width: 1000px){
						.content .container .container_inner.default_template_holder,
		.content .container .container_inner.page_container_inner {
			padding-top:80px !important; /*important because of the inline style on page*/
		}
	}
@media only screen and (min-width: 480px) and (max-width: 768px){
	
	        section.parallax_section_holder{
			height: auto !important;
			min-height: 400px;
		}
		}
@media only screen and (max-width: 768px){
	
	
	
	
	
	
	
	
	
	
	
	
	
}
@media only screen and (max-width: 600px) {
	
	
	
	
	
	
	
	
	
	
	}
@media only screen and (max-width: 480px){

			section.parallax_section_holder {
			height: auto !important;
			min-height: 400px;
		}
	
		
	}